
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.general {
  display: flex;
  align-items: center;
  padding: 0% 15%;
  justify-content: space-between;
}

.presentacion_logo {
 position: relative;
 top: 40px;
 left: 50px;
 height: auto;
}

.contenido-entrada {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.alert-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}

.alert-icon {
  width: 24px;
  height: 24px;
  background-color: #495057; /* Color plomo */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 8px;
  font-weight: bold;
}

span {
  color: #495057;
}

.contenido-btn {
    display: flex;
    gap: 24px;

}

#texto {
    width: 625px;
    line-height: 150%;
    font-weight: 400;
    font-size: 32px;
    padding: 10px;
    border: none;
    resize: none;
    margin-bottom: 150px;
}

#texto::placeholder {
    color: #0A3871;
}

.botones {
    width: 328px;
    padding: 24px 24px;
    background-color: #000300;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
  }

.botones:hover {
    background-color: #0A3871;
  }

.botones:active {
    background-color: #000300;
  }

.presentacion_muñeco {
  width: 336px;
  height: 304px;
}

.contenido-texto {
  width: 336px;
  height: 122px;
  justify-content: center;
}

.contenido-salida {
  float: left;
  width: 400px;
  height: 944px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

#texto-salida {
  width: 100%;
  line-height: 150%;
  font-weight: 400;
  font-size: 32px;
  padding: 10px;
  border: none;
  background-color:#e0e0e0;
  resize: none;
  display: none;
  margin-top: -370px;
  height: 738px;
}

#texto-salida::placeholder {
  color: #0A3871;
}

.contenido-texto .botones {
  margin-top: 10px;
}


.mensaje {
  font-size: 24px;
  font-style: italic;
  color: #000300;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.mensaje-aviso {
  font-size: 16px;
  font-style: italic;
  color: #495057;
  border: none;
  width: 336px;
  text-align: center;
  line-height: 1.3rem;
  padding: 0;

}


.footer {
  padding: 24px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;

}

.frase_footer {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}